/* css for dashboard */
.dashboard {
  padding: 20px;
}

.dashboard .user-logo-div {
  display: flex;
  justify-content: flex-end;
}

.user-logo-div .user-logo-span img {
  width: 100%;
  object-fit: contain;
  height: 45px;
}

.dashboard-header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.dashboard-header h1 {
  margin: 0;
}

.add-expenses {
  text-align: center;
}

.add-expenses button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  text-align: center;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.day-expenses,
.month-expenses,
.year-expenses {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  max-width: 30%;
}

.day-expenses h2,
.month-expenses h2,
.year-expenses h2 {
  margin-top: 0;
}

.info-section button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  text-align: center;
}

.info-section button:hover {
  background-color: #45a049;
}

.user-logo-span {
  position: relative;
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  display: block;
  width: 150px;
  top: 69px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: var(--global-box-shadow);
  padding: 15px;
}

.user-dropdown p {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.user-dropdown p:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--top-color);
}

@media (max-width: 991px) {
  .day-expenses,
  .month-expenses,
  .year-expenses {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 767px) {
  .day-expenses,
  .month-expenses,
  .year-expenses {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/*** css for dashboard ends ***/
