.welcome-add-expense-banner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.name-card,
.add-expense-card {
  background-color: #ffffff;
  box-shadow: var(--global-box-shadow);
  padding: 20px 25px;
  width: 35%;
  border-radius: 5px;
}

.welcome-card-text {
  font-family: var(--globar-font-family);
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}

.profile-name {
  font-size: 23px;
  font-family: var(--globar-font-family);
  color: #000000;
}

.add-expense-card-text {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 700;
}

.add-expense-btn {
  background-color: var(--top-color);
  border-radius: 5px;
  border: 2px solid var(--top-color);
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;
  display: inline-block;
  margin: 0 auto;
}

.add-expense-btn:hover {
  background-color: #ffffff;
  color: var(--top-color);
}
